body {
  font-family: sans-serif;
  margin: 0;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 0 10px; /* Added padding for smaller screens */
}

.stock-list {
  list-style: none;
  padding: 0;
}

.stock-list li {
  margin: 1em 0;
  cursor: pointer;
  padding: 10px;
  border-left: 5px solid #3498db; /* Blue border */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-price {
  margin-left: 10px; /* Space between name and price */
  font-weight: bold;
}

.stock-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  animation: popup-show 0.3s ease-in-out forwards;
}

.stock-popup h2 {
  margin-bottom: 1em;
}

.stock-popup button {
  width: 120px;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.stock-popup button:hover {
  background-color: #2980b9;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 20px; /* Increased padding for better mobile experience */
  }

  .stock-popup {
    width: 90%;
    left: 5%;
  }

  .stock-popup button {
    width: 80%;
    margin: 0.5em auto;
  }

  @media only screen and (max-width: 480px) {
    .stock-popup button {
      font-size: 14px;
    }
  }
}

@keyframes popup-show {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translate(0); }
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
}

.navigation button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

.navigation button:hover {
  background-color: #444;
}

@media only screen and (min-width: 769px) {
  .navigation {
    position: fixed;
    bottom: auto;
    top: 50%;
    left: 0;
    width: auto;
    height: auto;
    flex-direction: column;
    transform: translateY(-50%);
  }

  .navigation button {
    margin: 10px 0;
  }
}
